

<body style="height: 100vh;">
    <div class="stars">
        <div class="custom-navbar">
            <div class="brand-logo" style="font-size: 50px" class="mat-accent-color">
                SIGO
            </div>
        </div>
        <div class="loading-indicator" *ngIf="loading">
            <mat-spinner color="accent"></mat-spinner>
            <p style="text-align: center; font-size:large; padding-top: 10px;"><b>Carregando...</b></p>
        </div>
        <div class="central-body">

            <div *ngIf="company !== null">
                    <form [formGroup]="form" *ngIf="form" (ngSubmit)="addCompliance()">
                    <mat-card>
                        <mat-card-header >
                            <mat-card-title>
                                Consultoria e Acessorias
                            </mat-card-title>
                            <mat-card-subtitle>
                                <p>{{company.name}} - {{company.cnpj | mask: '00.000.000/0000-00'}}</p>
                                Contratação 
                                <p>{{company.startHire | date: 'dd/MM/yyyy'}} - {{company.endHire | date: 'dd/MM/yyyy'}}</p>
                            </mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                    <mat-card>
                        <mat-card-header *ngIf="!complianceAssessed; else elseBlock" >
                            <mat-card-title>
                                Questionário de Avaliação
                            </mat-card-title>
                            <mat-card-subtitle>
                                Preencha o questionário de avaliação abaixo para nos ajudar a melhorarmos nossa gestão de normas técnicas
                            </mat-card-subtitle>
                        </mat-card-header>

                        <ng-template #elseBlock>
                            <mat-card-header>
                                <mat-card-title>
                                    Avaliação Concluída <mat-icon>check_circle</mat-icon>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    Abaixo você consegue visualizar as suas notas de conformidade, mas não pode reavalia-las.
                                </mat-card-subtitle>
                            </mat-card-header>
                        </ng-template>
                        <mat-card-content>
                            
                                <div formArrayName="standards">
                                    <div *ngFor="let standard of form.controls.standards.controls; let $index=index" [formGroupName]="$index">
                                        <input formControlName="id" hidden>
                                        <input formControlName="name" hidden>
                                        <input formControlName="rating" hidden>
                                        <div>
                                            <p style="text-align: center; font-size: medium;">{{$index + 1}} - {{standard.value.name}} </p>
                                            <div style="padding-bottom: 10px;">
                                                <star-rating size="medium" [readOnly]="complianceAssessed"  starRatingSpeed="noticeable" (starClickChange)="ratingChange($event, $index)" [rating]="standard.value.rating" labelPosition="right" starRatingSizes="small" numOfStars="10" labelText="{{form.controls['standards'].controls[$index].value.rating}}" ></star-rating>
                                                <mat-error *ngIf="form.controls['standards'].controls[$index].controls['rating'].touched && form.controls['standards'].controls[$index].controls['rating'].hasError('required')">
                                                    Nota de avaliação é <strong>obrigatório</strong>
                                                </mat-error>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                        </mat-card-content>
                                <mat-card-actions style="text-align: center;">
                                <button [disabled]="loading || complianceAssessed" mat-flat-button style="width: 200px;" color="accent" type="submit">Enviar</button>
                                </mat-card-actions>
                    </mat-card>
                </form>
            </div>

        </div>
        <div class="objects">
            <img class="object_rocket" src="../../../../assets/images/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="../../../../assets/images/earth.svg" width="100px">
                <img class="object_moon" src="../../../../assets/images/moon.svg" width="80px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>

    </div>

</body>
