<mat-sidenav-container *ngIf="isLoggedIn; else login" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar> 
      <div>
        <a class="mat-accent-color" style="text-decoration: blink; font-size: xx-large;" routerLink="/dashboard">SIGO</a>

      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/company" routerLinkActive="active">Consultoria e Acessorias</a>
    </mat-nav-list>
    <div class="stars">
      <div class="glowing_stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="min-height: 100vh;">
    <mat-progress-bar *ngIf="isLoading" mode="query" color="accent"></mat-progress-bar>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button matTooltip="{{this.user.name}}" matTooltipPosition="above" mat-flat-button color="primary"> 
      <mat-icon>account_circle</mat-icon>
        {{this.user.username}}
      </button>
      <button (click)="signOut()" matTooltip="Sair" matTooltipPosition="above" mat-flat-button color="primary"> 
        <mat-icon>power_settings_new</mat-icon>
      </button>

    </mat-toolbar>
    <lib-mat-breadcrumb bgColor="#303030" fontColor="#fff" lastLinkColor="#69f0ae" fontSize="8px"></lib-mat-breadcrumb>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #login>
  <mat-sidenav-container  style="min-height: 100vh;" class="sidenav-container">
    <mat-progress-bar *ngIf="isLoading" mode="query" color="accent"></mat-progress-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</ng-template>