<div class="flexbox-parent">
  <mat-card style="display: flex;">
    <mat-card-header>
      <mat-card-title>
        Gráfico de Conformidade
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <ngx-charts-bar-vertical-2d *ngIf="multi && multi.length > 0; else load"
        [view]="view"
        [results]="multi"
        [gradient]="gradient"
        [scheme]="colorScheme"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legendTitle]="legendTitle"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        [legendPosition]="legendPosition"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
      </ngx-charts-bar-vertical-2d>
    
      <ng-template #load>
        <p style="text-align: center; font-size:medium; padding-top: 20px;"><b>Carregando informações...</b></p>
      </ng-template>
    </mat-card-content>
   
  </mat-card>

</div>
         

