/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';
@import 'css-star-rating/css/star-rating.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card {
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.mat-card-actions {
    margin-left: 0 !important;
}

.mat-stepper-next {
    margin-top: 10px !important;
}

.mat-accent {
    /* background-color: #0aaf9d !important; */
}

.mat-accent-color {
    color: #69f0ae !important;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }