<mat-nav-list>
    <p *ngIf="standards.length <= 0" style="text-align: center; padding-top: 10px;"><b>Carregando...</b></p>
    <h2 *ngIf="standards.length > 0" style="text-align: center; padding-top: 10px;"><b>{{company.name}}</b></h2>
    <a *ngFor="let standard of standards" href="#" mat-list-item (click)="openLink($event)">
      <span mat-line>{{standard.name}}</span>
      <star-rating class="rating" size="medium" [rating]="standard.rating" [readOnly]="true" numOfStars="10" labelText="{{standard.rating}}" labelPosition="right" > </star-rating> 
    </a>
</mat-nav-list>