

  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-actions>
        <button matTooltip="Adicionar consultoria e acessorrias" matTooltipPosition="above" mat-flat-button color="accent" routerLink="/company/add"> Cadastrar </button>
    </mat-card-actions>
    <mat-card-content style="width: 100%;
    overflow-x: auto">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
          
            <ng-container matColumnDef="cnpj">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CNPJ  </th>
              <td mat-cell *matCellDef="let element"> {{element.cnpj | mask: '00.000.000/0000-00'}} </td>
            </ng-container>
          
            <ng-container matColumnDef="startHire">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Ínicio contratação  </th>
              <td mat-cell *matCellDef="let element"> {{element.startHire | date: 'dd/MM/yyyy' }} </td>
            </ng-container>

            <ng-container matColumnDef="endHire">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ínicio contratação  </th>
                <td mat-cell *matCellDef="let element"> {{element.endHire | date: 'dd/MM/yyyy'}} </td>
              </ng-container>
              <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Compliance  </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button (click)="openBottomSheet(element)">Visualizar</button>
            
                </td>
              </ng-container> 
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <p *ngIf="dataSource === null" style="text-align: center; padding-top: 10px;"><b>Carregando...</b></p>
          <p *ngIf="dataSource !== null && companies && companies.length <= 0" style="text-align: center; padding-top: 10px;"><b>Nenhum registro encontrado</b></p>
    </mat-card-content>
   
</mat-card>

